@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* nav */
.navbar {
  background-color: #f5f5f5;
}
.collapse ul li a:hover,
.active {
  color: red;
  border-bottom: 2px solid red;
}
.collapse ul li a {
  color: #000;
}
.navbar-brand {
  font-family: "Cookie", cursive;
  font-size: 30px;
}
.h1,
.h3 {
  font-family: "Cookie", cursive;
}
.h3,
.h6 {
  color: red;
}
a:link {
  text-decoration: none;
}

/* login */

.d-flex .login a {
  font-size: 12px;
  color: #000;
}
.d-flex .login a:hover,
.bi:hover {
  color: red;
  border-bottom: 1px solid red;
}
.nav-icon i {
  font-size: 23px;
}
.nav-icon .cart {
  color: #000;
}
.nav-item .nav-link {
  font-size: 16px;
  font-weight: 500;
}
.reg-hov:hover {
  color: red;
  border-bottom: 1px solid red;
}

/* Shop section */

.collect{
    background-color: rgb(223, 233, 236);
    
}
.card {
  border: none;
  outline: none;
  display: inline-block;
  width: 300px;
  padding: 10px;
  border-radius: 8px;
}
.card:hover{
  /* border: 0.5px solid #3b5998; */
  background-color: rgba(229, 242, 248, 0.765);
  display: inline-block;
  width: 300px;
  padding: 10px;
  border-radius: 8px;
  font-family: "Roboto Condensed", sans-serif;
}
.card-title{
  font-size: 14px;
  /* border-bottom: 0.3px solid #3b5998; */
}
.line{
  border-bottom: 0.3px solid #3b5998;
}
.deli-btn, .vou-btn{
  width:10px;
  height: 5px;  
  font-size: 10px;
  padding-left: 0;
}
.deli-btn{
  color: #007787;
  border:0.5px solid #007787;
}
.vou-btn{
  color: #f85606;
  border:0.5px solid #f85606;

}
.price {
  font-weight: bold;
  color:#f85606 ;
  font-size: 18px;
}
.ord-btn{
  width: 90px;
  height:30px;
  font-size: 12px;
  color: #f85606;
  border:0.5px solid #f85606;
  margin-left: 70px;
  border-radius: 20px 30px;
}
.ord-btn:hover{
  color:white;
  background-color: #f85606;
}
span{
  display: inline-block;
}

.card-title,.deli-btn,.vou-btn,.ord-btn{
  font-family: "Roboto Condensed", sans-serif;
}







/* footer */

footer,
.form {
  background-color: #f5f5f5;
}
footer ul {
  list-style-type: none;
  padding-left: 0;
}
ul li a {
  color: #000;
}
.input-group .form-control {
  height: 50px;
  border-radius: 30px;
}
.input-group .btn {
  height: 50px;
  border-radius: 25px;
}
.box-icons i {
  font-size: 25px;
}
