@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* nav */
.navbar {
  background-color: #f5f5f5;
}
.collapse ul li a:hover,
.active {
  color: red;
  border-bottom: 2px solid red;
}
.navbar-brand {
  font-family: "Cookie", cursive;
  font-size: 30px;
}
.h1,
.h3 {
  font-family: "Cookie", cursive;
}
.h3,
.h6 {
  color: red;
}
a:link {
  text-decoration: none;
}

/* categories */

.categories .container-fluid {
  padding-right: 5px;
}

.categories-item {
  height: 314px;
  display: flex;
  flex-direction: center;
  align-items: center;
  padding-left: 30px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.categories-item .categories-large {
  height: 638px;
  padding-left: 70px;
}

.categories-item .categories-large .categories-text {
  max-width: 480px;
}

.categories-item .categories-large .categories-text p {
  margin-bottom: 15px;
}

.categories-text h1 {
  font-family: "Cookie", cursive;
  color: #111111;
  margin-bottom: 5px;
}

.categories-text h4 {
  color: #111111;
  font-weight: 700;
}

.categories-text p {
  margin-bottom: 10px;
}

.categories-text a {
  font-size: 14px;
  color: #111111;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  padding: 0 0 3px;
  display: inline-block;
}

.categories-text a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: #ca1515;
  content: "";
}
.categories-text a:hover {
  color: #ca1515;
}

.set-bg1 {
  background-image: url(images/categroy-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 638px;
}
.set-bg2 {
  background-image: url(images/home-watch.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 314px;
}
.set-bg3 {
  background-image: url(images/home-sun.webp);
  background-repeat: no-repeat;
  height: 314px;
}
.set-bg4 {
  background-image: url(images/home-bag.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 314px;
}
.set-bg5 {
  background-image: url(images/home-shoe.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 314px;
}

/* login */

.d-flex .login a {
  font-size: 12px;
  color: #000;
}
.d-flex .login a:hover,
.bi:hover {
  color: red;
  border-bottom: 1px solid red;
}
.nav-icon i {
  font-size: 23px;
}
.nav-icon .cart {
  color: #000;
}
.nav-item .nav-link {
  font-size: 16px;
  font-weight: 500;
}
.member-text {
  font-size: 13px;
}

/* contact section */
.contact-address{
  font-size: 16px;
  text-transform: uppercase;
}

.contact-form form input {
	height: 50px;
	width: 100%;
	padding-left: 20px;
	font-size: 14px;
	color: #444444;
	border: 1px solid #e1e1e1;
	border-radius: 10px;
	margin-bottom: 20px;
}
.contact-form form textarea {
	height: 130px;
	width: 100%;
	padding-left: 20px;
	padding-top: 12px;
	font-size: 14px;
	color: #444444;
	border: 1px solid #e1e1e1;
	border-radius: 10px;
	margin-bottom: 14px;
}
.site-btn{
  background-color: #ca1515;
  width: 150px;
  height: 40px;
  border-radius: 100px;
  color: #fff;
  border: none;
}

/* footer */
footer,
.form {
  background-color: #f5f5f5;
}
 ul {
  list-style-type: none;
  padding-left: 0;
}
ul li a {
  color: #000;
}
.input-group .form-control {
  height: 50px;
  border-radius: 30px;
}
.input-group .btn {
  border-radius: 25px;
  height: 50px;
}
.box-icons i {
  font-size: 25px;
}
